POWERDNS_API_HOSTNAME=pdns.goodmanners.services

POSTGRES_DB=pdns
POSTGRES_USER=pdns
POSTGRES_PASS=generate-strong-database-password

PDNS_AUTH_API_KEY=generate-128-char-api-key
PDNS_AUTH_WEB_KEY=generate-128-char-web-password

POWERDNS_POSTGRES_DATA=/mnt/data/postgres/powerdns
