POWERDNS_API_HOSTNAME=pdns.goodmanners.services
POWERDNS_TAG=4.9.16
POSTGRES_TAG=18-alpine

POSTGRES_DB=pdns
POSTGRES_USER=pdns
POSTGRES_PASS=generate-strong-database-password

PDNS_AUTH_API_KEY=generate-128-char-api-key
PDNS_AUTH_WEB_KEY=generate-128-char-web-password

POWERDNS_DNS_TCP_PORT=53
POWERDNS_DNS_UDP_PORT=53
POWERDNS_POSTGRES_DATA=/mnt/data/postgres/powerdns
