POSTGRES_USER=postgres
POSTGRES_SUPERUSER_PASSWORD=change-me-strong
AUTHENTIK_POSTGRES_PASSWORD=change-me-authentik-db
OPENBAO_POSTGRES_PASSWORD=change-me-openbao-db
POSTGRES_DATA_PATH=/mnt/data/postgres
